go 1.24.5

use (
	./base-server
	./minimal-server
	./modules/booking
	./modules/calendar
	./modules/calendar/tests
	./modules/documents
	./modules/invoice
	./modules/invoice_number
	./unburdy_server
)
